body{
    font-family: Arial;
    color: black;
    font-size : 18px;
    line-height : 1.5;
}

#menuGeneral {
    display: flex; /* Aligner les éléments <li> sur la même ligne */
    gap: 15px; /* Espacement entre les liens */
    padding: 20px; /* Supprimer les marges internes par défaut */
    margin: 20px; /* Supprimer les marges externes par défaut */
}

#menuGeneral li {
    list-style: none; /* Enlever les puces */
}

#menuGeneral a {
    text-decoration: none;
    color: black;
    border: 2px solid black; /* Contour noir pour être visible sur fond blanc */
    padding: 8px 15px;
    border-radius: 5px;
}

#accroche {
    padding: 20px;
    margin: 15px;
    justify-content: center;
    font-size: 20px;
}
