/* Style général du formulaire */
form {
    max-width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre */
h1 {
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 20px;
}

/* Style des champs de saisie */
input[type="text"], input[type="password"] {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style du bouton de soumission */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style du lien "Créer un compte" */
p {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style de la ligne horizontale */
hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}
